In [51]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import os

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules, fpgrowth
from mlxtend.frequent_patterns import association_rules

In [2]:
os.getcwd()

'C:\\Users\\a.mochalov\\Desktop\\ML\\RE_APRIORI'

In [3]:
# os.chdir('C:\\Users\\a.mochalov\\Desktop\\ML\\ОПЫТЫ С АПРИОРИ')

In [4]:
orders_11 = pd.read_csv('Выгрузка по чекам 01-Copy1.06.2019_31.06.2019.csv', header=None, sep=';', low_memory=False)
orders_12 = pd.read_csv('Выгрузка по чекам 01-Copy1.07.2019_31.07.2019.csv', header=None, sep=';', low_memory=False)

In [5]:
# os.chdir('C:\\Users\\a.mochalov\\Desktop\\ML\\RE_APRIORI')

In [11]:
frames = [orders_11, orders_12]

#### 1. Подгоотовка данных

In [12]:
orders = pd.concat(frames)

In [13]:
orders.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,01-06-2019-МНА00006518-00017,01/06/2019 00:00,NaN,NaN,NaN,Нитки,Нитки Bestex промышленные,NaN,NaN,NaN,...,Рыбацкое,1.0,"Нитки ""Bestex"" 20/2, *5000ярд.",0.0,233.0,233.0,Торговля по заказам,200 черный,16.0,NaN
1,01-06-2019-МНА00006518-00018,01/06/2019 00:00,NaN,NaN,NaN,Нитки,Нитки Bestex промышленные,NaN,NaN,NaN,...,Рыбацкое,1.0,"Нитки ""Bestex"" 20/2, *5000ярд.",0.0,233.0,233.0,Торговля по заказам,220 оливково-коричный,19.0,NaN
2,01-06-2019-МЛИ00002058-00003,01/06/2019 00:00,NaN,NaN,NaN,"Бисероплетение, вышивание бисером",Наборы для бисероплетения,Кроше,NaN,NaN,...,Наличная 51,1.0,"А131 Набор для бисероплетения ""Вуаль""",0.0,127.0,127.0,Торговля по заказам,NaN,NaN,NaN
3,01-06-2019-МЛВ00001903-00001,01/06/2019 00:00,NaN,NaN,NaN,Вышивание,Наборы для вышивания,Риолис,Наборы для вышивания,Наборы для вышивания крестом,...,"Гатчина, Радищева 4",1.0,"835 Набор для вышивания Риолис ""Анютины глазки...",0.0,350.0,350.0,Торговля по заказам,NaN,NaN,NaN
4,01-06-2019-МНА00006526-00001,01/06/2019 00:00,NaN,NaN,NaN,Вышивание,Наборы для вышивания,РС-Студия,NaN,NaN,...,Просвещения 84,1.0,"534 Набор для вышивания Р-Студия""Анютки""8*8см",0.0,66.0,66.0,Торговля по заказам,NaN,NaN,NaN

In [14]:
orders

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,01-06-2019-МНА00006518-00017,01/06/2019 00:00,NaN,NaN,NaN,Нитки,Нитки Bestex промышленные,NaN,NaN,NaN,...,Рыбацкое,1.0,"Нитки ""Bestex"" 20/2, *5000ярд.",0.0,233.0,233.0,Торговля по заказам,200 черный,16.0,NaN
1,01-06-2019-МНА00006518-00018,01/06/2019 00:00,NaN,NaN,NaN,Нитки,Нитки Bestex промышленные,NaN,NaN,NaN,...,Рыбацкое,1.0,"Нитки ""Bestex"" 20/2, *5000ярд.",0.0,233.0,233.0,Торговля по заказам,220 оливково-коричный,19.0,NaN
2,01-06-2019-МЛИ00002058-00003,01/06/2019 00:00,NaN,NaN,NaN,"Бисероплетение, вышивание бисером",Наборы для бисероплетения,Кроше,NaN,NaN,...,Наличная 51,1.0,"А131 Набор для бисероплетения ""Вуаль""",0.0,127.0,127.0,Торговля по заказам,NaN,NaN,NaN
3,01-06-2019-МЛВ00001903-00001,01/06/2019 00:00,NaN,NaN,NaN,Вышивание,Наборы для вышивания,Риолис,Наборы для вышивания,Наборы для вышивания крестом,...,"Гатчина, Радищева 4",1.0,"835 Набор для вышивания Риолис ""Анютины глазки...",0.0,350.0,350.0,Торговля по заказам,NaN,NaN,NaN
4,01-06-2019-МНА00006526-00001,01/06/2019 00:00,NaN,NaN,NaN,Вышивание,Наборы для вышивания,РС-Студия,NaN,NaN,...,Просвещения 84,1.0,"534 Набор для вышивания Р-Студия""Анютки""8*8см",0.0,66.0,66.0,Торговля по заказам,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279718,31-07-2019-МНА00007718-00138,31/07/2019 21:52,142065.0,Сысоева Наталья Владимировна,2.061102e+11,Товары для изготовления бижутерии,Бусины,Бусины стеклянные,Астра,NaN,...,"Балканская пл.,д.5",2.0,"Бусины стеклянные прозрачные кракле 6мм, 65шт/...",5.0,86.0,163.4,"Балканская пл.,д.5",NaN,NaN,8.99952e+10
279719,31-07-2019-МНА00007718-00177,31/07/2019 21:53,142066.0,NaN,NaN,Фурнитура,Карабины,Карабины разные,NaN,NaN,...,"Балканская пл.,д.5",2.0,"Крюк PS01 HS01-12,7 мат/никель",0.0,16.0,32.0,"Балканская пл.,д.5",NaN,NaN,NaN
279720,31-07-2019-МНА00007718-00140,31/07/2019 21:53,142066.0,NaN,NaN,Фурнитура,Карабины,Карабины разные,NaN,NaN,...,"Балканская пл.,д.5",2.0,"ГНУ12578 Карабин 10 мм, бронза",0.0,35.0,70.0,"Балканская пл.,д.5",NaN,NaN,NaN
279721,31-07-2019-МНА00007718-00141,31/07/2019 21:53,142066.0,NaN,NaN,Фурнитура,Карабины,Карабины разные,NaN,NaN,...,"Балканская пл.,д.5",2.0,"ГНУ12578 Карабин 10 мм, никель",0.0,35.0,70.0,"Балканская пл.,д.5",NaN,NaN,NaN
279722,31-07-2019-МДВ00001508-00260,31/07/2019 21:56,136170.0,NaN,NaN,Вязание,Пряжа и ниточные изделия,"Пряжа ООО ""Пехорский текстиль""",NaN,NaN,...,Ростов на Дону (Коммунистический пр.32),1.0,"Пряжа Пехорка ""Детская новинка"" 50гр. 200м. (1...",0.0,49.0,49.0,Ростов на Дону (Коммунистический пр.32),483-Незрелый лимон,41.0,NaN

In [15]:
orders.columns = ['ID', 'Дата покупки', 'Номер чека', 'Владелец карты', 'Номер карты', 'Уровень группы 0', 'Уровень группы 1', 'Уровень группы 2', 'Уровень группы 3', 'Уровень группы 4', 'Уровень группы 5', 'Уровень группы 6', 'Артикул', 'Магазин', 'Количество', 'Наименование', 'Скидка', 'Цена', 'Сумма', 'Подразделение', 'Хар-ка', 'Код хар-ки', 'Телефон']

In [16]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549397 entries, 0 to 279722
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                549397 non-null  object
 1   Дата покупки      549397 non-null  object
 2   Номер чека        544011 non-null  float64
 3   Владелец карты    247678 non-null  object
 4   Номер карты       265274 non-null  float64
 5   Уровень группы 0  549397 non-null  object
 6   Уровень группы 1  545704 non-null  object
 7   Уровень группы 2  465212 non-null  object
 8   Уровень группы 3  206063 non-null  object
 9   Уровень группы 4  41140 non-null   object
 10  Уровень группы 5  12094 non-null   object
 11  Уровень группы 6  277 non-null     object
 12  Артикул           549264 non-null  object
 13  Магазин           549397 non-null  object
 14  Количество        549397 non-null  float64
 15  Наименование      549397 non-null  object
 16  Скидка            549397 non-null  float64
 17  Цена              549392 non-null  float64
 18  Сумма             549109 non-null  float64
 19  Подразделение     549397 non-null  object
 20  Хар-ка            326852 non-null  object
 21  Код хар-ки        326854 non-null  float64
 22  Телефон           211183 non-null  object
dtypes: float64(7), object(16)
memory usage: 100.6+ MB

In [17]:
orders.dropna(subset=['Телефон', 'Номер чека'], inplace=True)

In [18]:
orders.drop(['ID', 'Магазин', 'Количество', 'Скидка', 'Цена', 'Сумма', 'Хар-ка', 'Код хар-ки' ], axis=1, inplace=True)

In [19]:
orders.head()

,Дата покупки,Номер чека,Владелец карты,Номер карты,Уровень группы 0,Уровень группы 1,Уровень группы 2,Уровень группы 3,Уровень группы 4,Уровень группы 5,Уровень группы 6,Артикул,Наименование,Подразделение,Телефон
42,01/06/2019 00:00,382625.0,Наталья,2.061102e+11,Товары для изготовления бижутерии,Украшения (распродажа),NaN,NaN,NaN,NaN,NaN,529185,Жемчуг пришивной в лапках 6мм. (100шт) МС,Садовая 28,89819528094
45,01/06/2019 00:00,382754.0,Радышевцева Елена Викторовна,2.061101e+11,яУдаленные,яУдаленные Архив,NaN,NaN,NaN,NaN,NaN,519252,Термостразы хрусталь ss20 (144шт.) СУ,Садовая 28,89522103432
87,01/06/2019 00:00,96904.0,Юлия,2.061200e+11,Вязание,Пряжа и ниточные изделия,Пряжа Камтекс,NaN,NaN,NaN,NaN,552365,"Пряжа Камтекс ""Велюр"" 100гр. 95м. (100 % микро...",Садовая 28,89112105104
89,01/06/2019 00:00,382577.0,Вавулина Оксана Геннадьевна,2.061100e+11,Творчество,Миниатюры,Бутылочки декоративные,Астра,NaN,NaN,NaN,7718439,CN2034-1041 Стеклянные бутылочки с пробкой 1мл...,Садовая 28,89043359815
129,01/06/2019 00:00,382736.0,Ульянкина Алена,2.061102e+11,Товары для изготовления бижутерии,Бусины,Бусины деревянные,Астра,NaN,NaN,NaN,7704355,"Деревянные бусины круглые, 10мм, 50 гр",Садовая 28,89967995770

In [20]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 211182 entries, 42 to 279718
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Дата покупки      211182 non-null  object
 1   Номер чека        211182 non-null  float64
 2   Владелец карты    211182 non-null  object
 3   Номер карты       211182 non-null  float64
 4   Уровень группы 0  211182 non-null  object
 5   Уровень группы 1  209586 non-null  object
 6   Уровень группы 2  187541 non-null  object
 7   Уровень группы 3  82124 non-null   object
 8   Уровень группы 4  17564 non-null   object
 9   Уровень группы 5  5615 non-null    object
 10  Уровень группы 6  123 non-null     object
 11  Артикул           211182 non-null  object
 12  Наименование      211182 non-null  object
 13  Подразделение     211182 non-null  object
 14  Телефон           211182 non-null  object
dtypes: float64(2), object(13)
memory usage: 25.8+ MB

In [21]:
orders.describe(include = 'object')

,Дата покупки,Владелец карты,Уровень группы 0,Уровень группы 1,Уровень группы 2,Уровень группы 3,Уровень группы 4,Уровень группы 5,Уровень группы 6,Артикул,Наименование,Подразделение,Телефон
count,211182,211182,211182,209586,187541,82124,17564,5615,123,211182,211182,211182,2.111820e+05
unique,32537,33503,22,202,666,716,293,81,11,23972,23947,32,4.645100e+04
top,18/06/2019 21:31,Елена,Вязание,Пряжа и ниточные изделия,Бисер Чехия Preciosa,Hobby&Pro,100% полиэстер,Глазки разные,"яНаборы бумаги 30*30см,30,5*30,5см",135517,"Нитки ""Bestex"" 40/2, *400ярд.",Испытателей 33,8.921859e+10
freq,139,2072,32994,27308,8307,6588,2151,1852,40,7511,7511,20019,2.830000e+02

In [22]:
orders.describe()

          Номер чека   Номер карты
count  211182.000000  2.111820e+05
mean   223589.618793  2.033073e+11
std    130058.625587  2.378309e+10
min     14861.000000  2.700000e+01
25%    121494.250000  2.061100e+11
50%    158559.000000  2.061101e+11
75%    355205.750000  2.061102e+11
max    482433.000000  2.061500e+11

In [23]:
orders['Номер чека'] = orders.loc[:,['Номер чека']].astype(int)

In [24]:
# сбросим индекс
orders = orders.reset_index(drop=True)

orders['Дата покупки'] = pd.to_datetime(orders['Дата покупки']).dt.date
orders

,Дата покупки,Номер чека,Владелец карты,Номер карты,Уровень группы 0,Уровень группы 1,Уровень группы 2,Уровень группы 3,Уровень группы 4,Уровень группы 5,Уровень группы 6,Артикул,Наименование,Подразделение,Телефон
0,2019-01-06,382625,Наталья,2.061102e+11,Товары для изготовления бижутерии,Украшения (распродажа),NaN,NaN,NaN,NaN,NaN,529185,Жемчуг пришивной в лапках 6мм. (100шт) МС,Садовая 28,89819528094
1,2019-01-06,382754,Радышевцева Елена Викторовна,2.061101e+11,яУдаленные,яУдаленные Архив,NaN,NaN,NaN,NaN,NaN,519252,Термостразы хрусталь ss20 (144шт.) СУ,Садовая 28,89522103432
2,2019-01-06,96904,Юлия,2.061200e+11,Вязание,Пряжа и ниточные изделия,Пряжа Камтекс,NaN,NaN,NaN,NaN,552365,"Пряжа Камтекс ""Велюр"" 100гр. 95м. (100 % микро...",Садовая 28,89112105104
3,2019-01-06,382577,Вавулина Оксана Геннадьевна,2.061100e+11,Творчество,Миниатюры,Бутылочки декоративные,Астра,NaN,NaN,NaN,7718439,CN2034-1041 Стеклянные бутылочки с пробкой 1мл...,Садовая 28,89043359815
4,2019-01-06,382736,Ульянкина Алена,2.061102e+11,Товары для изготовления бижутерии,Бусины,Бусины деревянные,Астра,NaN,NaN,NaN,7704355,"Деревянные бусины круглые, 10мм, 50 гр",Садовая 28,89967995770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211177,2019-07-31,142065,Сысоева Наталья Владимировна,2.061102e+11,Товары для изготовления бижутерии,Бусины,Бусины стеклянные,Астра,NaN,NaN,NaN,7717829,"1301131 Бусины стеклянные ""Нефритовое кракле"" ...","Балканская пл.,д.5",8.99952e+10
211178,2019-07-31,142065,Сысоева Наталья Владимировна,2.061102e+11,Товары для изготовления бижутерии,Бусины,Бусины стеклянные,Астра,NaN,NaN,NaN,7717829,"1301131 Бусины стеклянные ""Нефритовое кракле"" ...","Балканская пл.,д.5",8.99952e+10
211179,2019-07-31,142065,Сысоева Наталья Владимировна,2.061102e+11,Товары для изготовления бижутерии,Бусины,Бусины стеклянные,Астра,NaN,NaN,NaN,7717842,"1301149 Бусины стеклянные ""Кракле"" 6мм, упак/6...","Балканская пл.,д.5",8.99952e+10
211180,2019-07-31,142065,Сысоева Наталья Владимировна,2.061102e+11,Товары для изготовления бижутерии,Бусины,Бусины стеклянные,Астра,NaN,NaN,NaN,7717839,"1301130 Бусины стеклянные ""Кракле"" 5*7мм, упак...","Балканская пл.,д.5",8.99952e+10
211181,2019-07-31,142065,Сысоева Наталья Владимировна,2.061102e+11,Товары для изготовления бижутерии,Бусины,Бусины стеклянные,Астра,NaN,NaN,NaN,7725911,"Бусины стеклянные прозрачные кракле 6мм, 65шт/...","Балканская пл.,д.5",8.99952e+10

In [25]:
order_grouped = orders.groupby(['Дата покупки', 'Телефон'])['Артикул'].apply(list)

In [26]:
order_grouped

Дата покупки  Телефон
2019-01-06    89005890013                            [7705618, 7706544, 7704355]
              89005992349      [7705114, 552096, 135517, 135517, 135517, 6769...
              89006369027                                               [342071]
              89009544309      [903561, 903559, 501875, 501958, 501959, 49997...
              89011610460                               [360051, 360051, 360051]
                                                     ...
2019-12-07    89992361989.0                                            [7721622]
              89994048415.0                                    [901713, 7723856]
              89995299487.0                                    [508335, 7700054]
              89995380919.0                                    [501115, 7700945]
              89997887680.0                                             [694805]
Name: Артикул, Length: 64869, dtype: object

In [27]:
df = pd.DataFrame.from_records(order_grouped)

In [28]:
df

,0,1,2,3,4,5,6,7,8,9,...,121,122,123,124,125,126,127,128,129,130
0,7705618,7706544,7704355,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,7705114,552096,135517,135517,135517,676987,553340,7700541,None,None,...,None,None,None,None,None,None,None,None,None,None
2,342071,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,903561,903559,501875,501958,501959,499973,499974,544948,544961,544955,...,None,None,None,None,None,None,None,None,None,None
4,360051,360051,360051,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64864,7721622,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
64865,901713,7723856,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
64866,508335,7700054,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
64867,501115,7700945,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
64868,694805,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [29]:
#telephon = pd.DataFrame(order_grouped).reset_index(level=[0]).reset_index()['Телефон']
#telephon
#apriori = pd.concat([df,telephon], axis=1)
#apriori

#### 2. Визуализация данных:

#### 3. Данные подготовили, теперь Pre-Processing:

In [30]:
# Transform Every Transaction to Seperate List & Gather Them into Numpy Array

transaction = []
for i in range(df.shape[0]):
    transaction.append([str(df.values[i,j]) for j in range(df.shape[1])])
    
transaction = np.array(transaction)
transaction

array([['7705618', '7706544', '7704355', ..., 'None', 'None', 'None'],
       ['7705114', '552096', '135517', ..., 'None', 'None', 'None'],
       ['342071', 'None', 'None', ..., 'None', 'None', 'None'],
       ...,
       ['508335', '7700054', 'None', ..., 'None', 'None', 'None'],
       ['501115', '7700945', 'None', ..., 'None', 'None', 'None'],
       ['694805', 'None', 'None', ..., 'None', 'None', 'None']],
      dtype='<U9')

In [31]:
te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)
dataset = pd.DataFrame(te_ary, columns=te.columns_)
dataset = dataset.drop(['None'], axis=1)

In [32]:
dataset

,002,099002,099003,099004,099005,099008,099009,099010,099011,099015,...,929425,929427,929443,929448,929451,940115,940116,940117,991057,Н582351
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64864,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64865,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64866,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64867,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64868,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
dataset.loc[:, :].sum()

002        1018
099002        1
099003        3
099004        7
099005        4
           ...
940115        2
940116        3
940117        1
991057        1
Н582351       2
Length: 23972, dtype: int64

In [34]:
# Convert dataset into 1-0 encoding
dataset = dataset.astype(int)

In [35]:
dataset

,002,099002,099003,099004,099005,099008,099009,099010,099011,099015,...,929425,929427,929443,929448,929451,940115,940116,940117,991057,Н582351
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64864,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64865,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64866,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64867,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64868,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### 4. Algorithm Implementation

In [36]:
# apriori

frequent_itemsets = apriori(dataset, min_support=0.0001, use_colnames=True, low_memory=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

       support                           itemsets  length
0     0.015693                              (002)       1
1     0.000108                           (099004)       1
2     0.002790                           (099303)       1
3     0.000123                           (099381)       1
4     0.000231                           (099704)       1
...        ...                                ...     ...
6232  0.000170        (7708333, 7708331, 7708332)       3
6233  0.000123        (7708331, 7708332, 7721902)       3
6234  0.000108        (7712017, 7712018, 7712020)       3
6235  0.000108  (675290, 675288, 675289, 7700198)       4
6236  0.000108  (675290, 675288, 675289, 7721902)       4

[6237 rows x 3 columns]

In [37]:
frequent_itemsets[frequent_itemsets['length']==2]

       support            itemsets  length
4920  0.000216       (135167, 002)       2
4921  0.000108       (135517, 002)       2
4922  0.000432       (544203, 002)       2
4923  0.000308      (7705114, 002)       2
4924  0.000108      (7720037, 002)       2
...        ...                 ...     ...
6158  0.000154  (7725892, 7725893)       2
6159  0.000216  (7725955, 7725954)       2
6160  0.000108    (901234, 901233)       2
6161  0.000139    (902220, 902219)       2
6162  0.000123    (904779, 904777)       2

[1243 rows x 3 columns]

In [38]:
frequent_itemsets[frequent_itemsets['length']==3]

       support                     itemsets  length
6163  0.000139       (10120, 135517, 10150)       3
6164  0.000262     (546605, 131042, 131011)       3
6165  0.000108     (546606, 131041, 135517)       3
6166  0.000262     (546605, 131042, 135517)       3
6167  0.000108     (135219, 135167, 544203)       3
...        ...                          ...     ...
6230  0.000139  (7708333, 7706545, 7708331)       3
6231  0.000185  (7707492, 7707493, 7707494)       3
6232  0.000170  (7708333, 7708331, 7708332)       3
6233  0.000123  (7708331, 7708332, 7721902)       3
6234  0.000108  (7712017, 7712018, 7712020)       3

[72 rows x 3 columns]

In [39]:
frequent_itemsets[(frequent_itemsets['length'] == 4) &
                   (frequent_itemsets['support'] >= 0.000080)]

       support                           itemsets  length
6235  0.000108  (675290, 675288, 675289, 7700198)       4
6236  0.000108  (675290, 675288, 675289, 7721902)       4

In [40]:
frequent_itemsets[frequent_itemsets['length']==5]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []

In [41]:
frequent_itemsets[frequent_itemsets['length']==6]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []

In [42]:
frequent_itemsets[(frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.05)]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []

In [43]:
# fpgrowth
frequent_itemsets_fpg = fpgrowth(dataset, min_support=0.0001, use_colnames=True)
frequent_itemsets_fpg['length'] = frequent_itemsets_fpg['itemsets'].apply(lambda x: len(x))
frequent_itemsets_fpg

       support                  itemsets  length
0     0.002574                 (7706544)       1
1     0.001526                 (7704355)       1
2     0.000154                 (7705618)       1
3     0.062156                  (135517)       1
4     0.030970                 (7705114)       1
...        ...                       ...     ...
6232  0.000123  (526888, 526881, 526885)       3
6233  0.000108  (526888, 526881, 526882)       3
6234  0.000108  (526888, 526881, 526880)       3
6235  0.000123         (7718660, 544203)       2
6236  0.000108          (419105, 419104)       2

[6237 rows x 3 columns]

In [44]:
frequent_itemsets_fpg[frequent_itemsets_fpg['length']==2]

       support            itemsets  length
4920  0.000416  (7706544, 7706545)       2
4921  0.000385  (7706544, 7708332)       2
4922  0.000355  (7706544, 7708331)       2
4923  0.000170  (7706544, 7702757)       2
4924  0.000170   (7706544, 544203)       2
...        ...                 ...     ...
6229  0.000123    (526881, 526882)       2
6230  0.000108    (526881, 526880)       2
6231  0.000108    (526881, 526883)       2
6235  0.000123   (7718660, 544203)       2
6236  0.000108    (419105, 419104)       2

[1243 rows x 3 columns]

In [45]:
frequent_itemsets_fpg[frequent_itemsets_fpg['length']==3]

       support                     itemsets  length
4927  0.000185  (7706544, 7708331, 7708332)       3
4967  0.000108     (411001, 411007, 411004)       3
4999  0.000108  (7701643, 7701654, 7701644)       3
5014  0.000108     (135167, 135517, 544203)       3
5019  0.000139    (135219, 135167, 7705114)       3
...        ...                          ...     ...
6155  0.000123     (135278, 135167, 544203)       3
6194  0.000108  (7712017, 7712018, 7712020)       3
6232  0.000123     (526888, 526881, 526885)       3
6233  0.000108     (526888, 526881, 526882)       3
6234  0.000108     (526888, 526881, 526880)       3

[72 rows x 3 columns]

In [46]:
frequent_itemsets_fpg[(frequent_itemsets_fpg['length'] == 4) &
                   (frequent_itemsets_fpg['support'] >= 0.000080)]

       support                           itemsets  length
5235  0.000108  (675290, 675288, 675289, 7721902)       4
5256  0.000108  (675288, 675289, 7700198, 675290)       4

#### Working with Sparse Representations

In [48]:
te = TransactionEncoder()
oht_ary = te.fit(transaction).transform(transaction, sparse=True)
sparse_df = pd.DataFrame.sparse.from_spmatrix(oht_ary, columns=te.columns_)
sparse_df = sparse_df.drop(['None'], axis=1)

In [50]:
frequent_sparse_df = apriori(sparse_df, min_support=0.0001, use_colnames=True, low_memory=True)
frequent_sparse_df['length'] = frequent_sparse_df['itemsets'].apply(lambda x: len(x))
frequent_sparse_df

       support                           itemsets  length
0     0.015693                              (002)       1
1     0.000108                           (099004)       1
2     0.002790                           (099303)       1
3     0.000123                           (099381)       1
4     0.000231                           (099704)       1
...        ...                                ...     ...
6232  0.000170        (7708333, 7708331, 7708332)       3
6233  0.000123        (7708331, 7708332, 7721902)       3
6234  0.000108        (7712017, 7712018, 7712020)       3
6235  0.000108  (675290, 675288, 675289, 7700198)       4
6236  0.000108  (675290, 675288, 675289, 7721902)       4

[6237 rows x 3 columns]

In [52]:
association_rules(frequent_sparse_df, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(111067),(1231),0.000154,0.000308,0.000108,0.700000,2270.415000,0.000108,3.332306
1,(1234),(111286),0.000154,0.000247,0.000154,1.000000,4054.312500,0.000154,inf
2,(318731),(7708618),0.000154,0.009465,0.000108,0.700000,73.954886,0.000106,3.301783
3,(419045),(419044),0.000416,0.000416,0.000385,0.925926,2224.588477,0.000385,13.494381
4,(419044),(419045),0.000416,0.000416,0.000385,0.925926,2224.588477,0.000385,13.494381
5,(419093),(419092),0.000200,0.000185,0.000185,0.923077,4989.923077,0.000185,12.997595
6,(419092),(419093),0.000185,0.000200,0.000185,1.000000,4989.923077,0.000185,inf
7,(419094),(419095),0.000170,0.000247,0.000154,0.909091,3685.738636,0.000154,10.997287
8,(419105),(419104),0.000108,0.000108,0.000108,1.000000,9267.000000,0.000108,inf
9,(419104),(419105),0.000108,0.000108,0.000108,1.000000,9267.000000,0.000108,inf
10,(419124),(419125),0.000123,0.000123,0.000108,0.875000,7095.046875,0.000108,7.999013
11,(419125),(419124),0.000123,0.000123,0.000108,0.875000,7095.046875,0.000108,7.999013
12,(419132),(419137),0.000247,0.000308,0.000216,0.875000,2838.018750,0.000216,7.997533
13,(419137),(419132),0.000308,0.000247,0.000216,0.700000,2838.018750,0.000216,3.332511
14,(419133),(419134),0.000324,0.000355,0.000308,0.952381,2686.086957,0.000308,20.992554
15,(419134),(419133),0.000355,0.000324,0.000308,0.869565,2686.086957,0.000308,7.664185
16,(506901),(7721246),0.000462,0.002189,0.000355,0.766667,350.231690,0.000354,4.276333
17,(526881),(526888),0.000262,0.000910,0.000185,0.705882,776.099701,0.000185,3.396908
18,(7718056),(544203),0.000262,0.023509,0.000185,0.705882,30.026152,0.000179,3.320070
19,(7718558),(544203),0.000216,0.023509,0.000154,0.714286,30.383607,0.000149,3.417719
20,(7718602),(544203),0.000247,0.023509,0.000200,0.812500,34.561352,0.000195,5.207952
21,(7718620),(544203),0.000231,0.023509,0.000170,0.733333,31.193836,0.000164,3.661842
22,(7718626),(544203),0.000139,0.023509,0.000108,0.777778,33.084372,0.000105,4.394210
23,(7718880),(544203),0.000123,0.023509,0.000108,0.875000,37.219918,0.000105,7.811929
24,"(546605, 131011)",(131042),0.000355,0.003068,0.000262,0.739130,240.937951,0.000261,3.821574
25,"(135278, 544203)",(135167),0.000123,0.019146,0.000123,1.000000,52.229469,0.000121,inf
26,"(7713801, 484109)",(7700671),0.000123,0.000832,0.000108,0.875000,1051.118056,0.000108,7.993340
27,"(526881, 526880)",(526888),0.000108,0.000910,0.000108,1.000000,1099.474576,0.000108,inf
28,"(526881, 526882)",(526888),0.000123,0.000910,0.000108,0.875000,962.040254,0.000108,7.992724
29,"(526881, 526885)",(526888),0.000123,0.000910,0.000123,1.000000,1099.474576,0.000123,inf
30,"(526882, 526885)",(526888),0.000139,0.000910,0.000123,0.888889,977.310734,0.000123,8.991814
31,"(526888, 526883)",(526885),0.000123,0.000293,0.000108,0.875000,2987.388158,0.000108,7.997657
32,"(526885, 526883)",(526888),0.000123,0.000910,0.000108,0.875000,962.040254,0.000108,7.992724
33,"(526884, 526885)",(526888),0.000123,0.000910,0.000108,0.875000,962.040254,0.000108,7.992724
34,"(533875, 533866)",(533867),0.000185,0.000786,0.000139,0.750000,953.955882,0.000139,3.996855
35,"(7707492, 7707494)",(7707493),0.000262,0.001141,0.000185,0.705882,618.782194,0.000185,3.396121
36,"(7712017, 7712018)",(7712020),0.000123,0.000555,0.000108,0.875000,1576.677083,0.000108,7.995560
37,"(7712017, 7712020)",(7712018),0.000123,0.000293,0.000108,0.875000,2987.388158,0.000108,7.997657
38,"(7721902, 675289, 675290)",(675288),0.000123,0.008802,0.000108,0.875000,99.405210,0.000107,7.929581